*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: black;
    color: white;
}
.hero {
    height: 100vh;
    background: url('https://i.pinimg.com/474x/af/f0/6f/aff06fb3660a32e8f90bde5c46d3c80f.jpg') center/cover no-repeat;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
}
.navbar {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.logo {
    color: #e50914;
    font-size: 32px;
    font-weight: bold;
}
.signin-btn {
    background-color: #e50914;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}
.hero-content {
    position: relative;
    z-index: 1;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
.hero-content h2 {
    font-size: 48px;
    max-width: 800px;
}
.subtitle {
    font-size: 24px;
    margin: 16px 0;
}
.small-text {
    font-size: 18px;
    margin-bottom: 20px;
}
.email-box {
    display: flex;
    max-width: 600px;
    width: 100%;
}
.email-box input {
    flex: 1;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.email-box button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 0 24px;
    font-size: 18px;
    cursor: pointer;
}
@media (max-width:600px) {
    .hero-content h2 {
        font-size: 32px;
    }
    .email-box {
        flex-direction: column;
    }
    .email-box button {
        margin-top: 10px;
        padding: 14px;
    }

}
 /* trending now section*/ 
.trending-row {
    display: flex;
    gap: 12px;
    overflow-x: auto;
}
.card {
    min-width: 160px;
    height: 240px;
    background: #333;
    border-radius: 6px;
}
@media (max-width: 600px) {
    .card {
        min-width: 120px;
        height: 180px;
    }
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card {
    overflow: hidden;
}
